<div>
    <div class="container-fluid">
        <!-- start filter -->
        <div class="card">
            <div class="card-body" [formGroup]="formGroup">
                <div class="row ">
                    <div class="col-md-12 align-content-center">
                        <div class="row container-fluid align-items-center">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput class="mt-1" [matDatepicker]="fecha" (dateChange)="buscar()" formControlName="fecha" placeholder="Fecha" (click)="fecha.open()">
                                    <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                                    <mat-datepicker #fecha></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 align-self-center">
                                <mat-checkbox class="example-margin" (change)="buscar()" formControlName="checked">Mostrar ya reservados</mat-checkbox>
                            </div>
                        </div>
                        <div class="row mt-2 container-fluid align-items-center">
                            <div class="col-md-6 align-self-center justify-content-md-center" *ngIf="empleadoId">
                                <label class="ml-3">{{empleadoNombre}}</label>
                            </div>
                            <div class="col-md-6 justify-content-md-center align-self-center">
                                <button mat-raised-button class="col-md-6" (click)="openDialog('empleado')">Filtrar Empleado</button>
                            </div>
                        </div>
                        <!-- boton buscar -->
                        <!--<div class="row mt-3 container-fluid align-items-center">
                            <div class="col-md-6 justify-content-md-center align-self-center">
                                <button mat-raised-button [disabled]="!empleadoId" (click)="buscar()" type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Buscar</button>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- end filter -->
        <!-- start table -->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="horaSeleccionada">
                    <table class="table">
                        <thead class="text-primary">
                        <tr>
                            <th *ngFor="let cell of headerRow">{{ cell }}</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let row of lista">
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td><mat-radio-button *ngIf="row[3] !== null" value={{row[3]}}></mat-radio-button></td>
                          </tr>
                        </tbody>
                    </table>
                    </mat-radio-group>
                </div>
                <div class="row mt-4 container-fluid align-items-center justify-content-center" *ngIf= "numPaginas > 1 ">
                    <div class="justify-content-md-center align-self-center">
                        <div class="row align-content-center justify-content-md-center">
                            <div>
                                <a [disabled]="pagina <= 1" mat-button class="page-link" aria-label="Previous" (click)="anterior()" >
                                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                </a>
                            </div>

                            <div class="page-item active">
                                <mat-chip-list>
                                    <mat-chip color="accent" selected>{{pagina}}</mat-chip>
                                </mat-chip-list>
                            </div>

                            <div>
                                <a [disabled]="pagina >= numPaginas" mat-button class="page-link" aria-label="Next" (click)="siguiente()">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  end tabla  -->
        <!-- start reservar -->
        <div class="card">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12 align-content-center">
                        <div class="row mt-2 container-fluid align-items-center">
                            <div class="col-md-6 align-self-center justify-content-md-center" *ngIf="clienteId">
                                <label class="ml-3">{{clienteNombre}}</label>
                            </div>
                            <div class="col-md-6 justify-content-md-center align-self-center">
                                <button mat-raised-button class="col-md-6" (click)="openDialog('cliente')">Filtrar Cliente</button>
                            </div>
                        </div>
                        <div class="row mt-3 container-fluid align-items-center">
                            <div class="col-md-6 justify-content-md-center align-self-center">
                                <mat-form-field class="example-full-width">
                                    <input type="text" matInput [(ngModel)]="campoObservacion" placeholder="Observación">
                                </mat-form-field>
                            </div>
                            <!-- boton registrar -->
                            <div class="col-md-6 justify-content-md-center align-items-center">
                                <button mat-raised-button [disabled]="!empleadoId || !clienteId || horaSeleccionada===null" (click)="reservar()" type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Crear reserva</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  end reservar  -->
    </div>
</div>
