<div>
  <div class="container-fluid">
    <!-- start filter -->
        <div class="card">
          <div class="card-body" [formGroup]="formGroup">
            <div class="col-md-12 align-content-center">
              <div class="row mt-2 container-fluid align-items-center">
                <div class="col-md-6 align-self-center justify-content-md-center" *ngIf="empleadoId">
                    <label class="ml-3">{{empleadoNombre}}</label>
                </div>
                <div class="col-md-6 justify-content-md-center align-self-center">
                    <button mat-raised-button class="col-md-6" (click)="openDialog('Empleado')">Filtrar Empleado</button>
                </div>
              </div>
              <div class="row mt-2 container-fluid align-items-center">
                <div class="col-md-6 align-self-center justify-content-md-center" *ngIf="clienteId">
                    <label class="ml-3">{{clienteNombre}}</label>
                </div>
                <div class="col-md-6 justify-content-md-center align-self-center">
                    <button mat-raised-button class="col-md-6" (click)="openDialog('Cliente')">Filtrar Cliente</button>
                </div>
              </div>
              <div class=" mt-2 row container-fluid align-items-center">
                <div class="col-md-6">
                  <mat-form-field >
                    <input matInput class="mt-1" [value]="fechaDesde" [matDatepicker]="desde" formControlName="fechaDesde" placeholder="Fecha desde" (dateChange)="checkFechaDesde($event)" (click)="desde.open()">
                    <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                    <mat-datepicker #desde></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput class="mt-1" [min]="fechaDesde" [value]="fechaHasta" [matDatepicker]="hasta" formControlName="fechaHasta" placeholder="Fecha hasta" (click)="hasta.open()">
                    <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                    <mat-datepicker #hasta></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>  
              <!-- boton buscar -->
              <div class="row mt-3 container-fluid align-items-center">
                <div class="col-md-6 justify-content-md-center align-self-center">
                  <button (click)="buscar()" mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Buscar</button>
                </div>
                <div class="col-md-6 justify-content-md-center align-self-center">
                  <button (click)="reset()" mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Limpiar filtros</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- end filter -->
    <!-- start table -->
      <div class="card">
        <div class="card-body">
          <div class="col-md-12 align-content-center">
            <div class="table-responsive">
                <table class="table">
                    <thead class="text-primary">
                    <tr>
                        <th *ngFor="let cell of dataTable?.headerRow">{{ cell }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of dataTable?.dataRows">
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}} - {{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td *ngIf="row[8] !== 'C'" class="td-actions text-right tim-row">
                            <div class="container row">
                                <button *ngIf="row[7] !== 'S' && row[7] !== 'N'" mat-raised-button type="button" (click)="eliminar(row[5])" class="col btn btn-danger btn-link">
                                    <i class="material-icons">close</i>
                                </button>
                                <button *ngIf="row[7] !== 'S' && row[7] !== 'N'" mat-raised-button type="button" (click)="editar(row[5], row[6], row[7])" class=" col btn btn-info btn-link">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" (click)="nuevaFicha(row[5])" class="col btn btn-success btn-link">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </td>
                        <td *ngIf="row[8] === 'C'" class="justify-content-md-center align-self-center">
                            <p>Cancelado</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- paginado -->
            <div class="row mt-4 container-fluid align-items-center justify-content-center" *ngIf= "numPaginas > 1 ">
                <div class="justify-content-md-center align-self-center">
                  <div class="row align-content-center justify-content-md-center">
                    <div>
                      <a [disabled]="pagina <= 1 " mat-button class="page-link" aria-label="Previous" (click)="anterior()" >
                        <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                      </a>
                    </div>

                    <div class="page-item active">
                      <mat-chip-list>
                        <mat-chip color="accent" selected>{{pagina}}</mat-chip>
                      </mat-chip-list>
                    </div>

                    <div>
                      <a [disabled]="pagina >= numPaginas" mat-button class="page-link" aria-label="Next" (click)="siguiente()">
                        <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                      </a>
                    </div>
                  </div>  
                </div>
            </div>
            <!-- fin paginado -->
            <!-- boton reservar-->
            <div class="row mt-4 container-fluid align-items-center">
                <div class="col-md-7 justify-content-md-center align-self-center">
                  <button mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd col-md-6" [routerLink]="['/reserva/reservar']">Agregar reserva</button>
                </div>
              </div>
          </div>    
        </div>
      </div>
    <!--  end card  -->
  </div>
</div>
