<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <form [formGroup]="editarFichaForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                <h4 class="card-title">Editar Ficha Clinica</h4>
              </div>
            </div>
            <div class="card-body ">
              <div class="row">
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Observaciones" formControlName="observacion"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <br>
              <div class="input-group mb-3 border rounded col-md-4">
                <div>
                    <button *ngIf="isLoadingArchivo" class="btn" (click)="vaciarInputArchivo()" type="button"><i class="material-icons">close</i></button>
                </div>
                <div class="custom-file">
                  <!--mat-form-field -->
                  <input class="custom-file-input row" type="file" id="enviarArchivo" #archivoInput (change)="cargarArchivo()" placeholder="Subir Archivo">
                  <label class="custom-file-label"></label>
                  <mat-hint *ngIf="errorArchivo" style="color:red">
                    <p>No se ha podido subir el archivo. Error en el servidor</p>
                  </mat-hint>
                  <!--/mat-form-field-->
                  <!--input type="file" id="enviarArchivo" class="inputFile"  #archivoInput (change)="cargarArchivo()"-->
                </div>
              </div>
              <div>{{ archivoName }}</div>
            </div>
            <div class="card-footer ">
                <button mat-raised-button type="submit" class="btn btn-fill btn-rose" [disabled]="!editarFichaForm.valid">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>