<div class="main-content">
  <div class="container-fluid">
    <!--
        Empieza el Filtrado
      -->
    <!-- start filter -->
    <div class="card">
      <div class="card-body" [formGroup]="formGroup">
        <div class="col-md-12 align-content-center">
          <div class="row mt-1 container-fluid align-items-center">
            <div class="col-md-4"></div>
            <div class="col-md-4 align-content-center">
              <h3> Modificar Servicios</h3>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="row mt-2 container-fluid align-items-center">
            
            <ng-container *ngIf="servicioSeleccionado">
              <div class="col-md-3 align-self-center justify-content-md-center">
                <label class="ml-3">Empleado: {{servicioSeleccionado.idEmpleado.nombre}}</label>
              </div>
            </ng-container>

            <ng-container *ngIf="servicioSeleccionado">
              <div class="col-md-3 align-self-center justify-content-md-center">
                <label class="ml-3">Cliente: {{servicioSeleccionado.idFichaClinica.idCliente.nombre}}</label>
              </div>
            </ng-container>
          </div>
          <div class=" mt-2 row container-fluid align-items-center">
            <div class="col-md-6">
              <mat-form-field *ngIf="servicioSeleccionado">
                <input matInput placeholder="observacion" [value]="servicioSeleccionado.idFichaClinica.observacion"
                  formControlName="observacion" [disabled]=true>
              </mat-form-field>
            </div>
          </div>
          

        </div>
      </div>
    </div>
    <!--
        end ex-filtrado
      -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="idFicha">
          <th mat-header-cell *matHeaderCellDef> id ficha </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.idFichaClinica}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaFicha">
          <th mat-header-cell *matHeaderCellDef> fecha Ficha </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.fechaHora}} </td>
        </ng-container>
        <ng-container matColumnDef="profesional">
          <th mat-header-cell *matHeaderCellDef> profesional </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idEmpleado.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> cliente </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.idCliente.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Id categoria </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.idTipoProducto.idCategoria.idCategoria}}
          </td>
        </ng-container>
        <ng-container matColumnDef="subcategoria">
          <th mat-header-cell *matHeaderCellDef> Id Tipo producto </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.idTipoProducto.idTipoProducto}} </td>
        </ng-container>
        <!--
        acciones de edicion y eliminacion
      -->
        
      <!--
        Hasta aqui las columnas
      -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons></mat-paginator>
    </div>
    <!--
      A partir de aca la parte de detalles de servicio
    -->
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 align-content-center">
          <div class="row mt-2 container-fluid align-items-center">
            <div class="col-md-6 align-self-center justify-content-md-center">
              <mat-form-field>
                <mat-label>Categoria</mat-label>
                <mat-select [(value)]="categoriaDetalleServicio" required>
                  <mat-option>--</mat-option>
                  <!--
                     en la propiedad [value] se define que data se retorna si la opcion es elegida
                  -->
                  <mat-option *ngFor="let categoria of arrayCategorias" (click)="cargarDatosSubCategoria(categoria)"
                    [value]="categoria">
                    {{categoria.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 align-self-center justify-content-md-center">
              <mat-form-field>
                <mat-label>Subcategoria</mat-label>
                <mat-select [(value)]="subcategoriaDetalleServicio" [disabled]="!categoriaDetalleServicioFlag" required>
                  <mat-option>--</mat-option>
                  <!--
                     en la propiedad [value] se define que data se retorna si la opcion es elegida
                  -->
                  <mat-option *ngFor="let subcategoria of arraySubcategorias"
                    (click)="cargarDatosProducto(subcategoria)" [value]="subcategoria">
                    {{subcategoria.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-2 container-fluid align-items-center">
            <div class="col-md-6 align-self-center justify-content-md-center">
              <mat-form-field>
                <mat-label>Tipo de Servicio(Presentacion)</mat-label>
                <mat-select [(value)]="idPresentacionProductoDetalleServicio"
                  [disabled]="!subcategoriaDetalleServicioFlag" required>
                  <mat-option>--</mat-option>
                  <!--
                     en la propiedad [value] se define que data se retorna si la opcion es elegida
                  -->
                  <mat-option *ngFor="let producto of arrayProductos" (click)="cargarPrecioProducto(producto)"
                    [value]="producto.idPresentacionProducto">
                    {{producto.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 align-self-center justify-content-md-center">
              <mat-form-field>
                <input matInput placeholder="precio" [(ngModel)]="precioPresentacionProductoDetalleServicio"
                  [disabled]="true">
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-2 container-fluid align-items-center">
            <div class="col-md-6 align-self-center justify-content-md-center">
              <mat-form-field>
                <input matInput placeholder="cantidad" [(ngModel)]="cantidadProductoDetalleServicio">
                <label>blablablabla: {{cantidadProductoDetalleServicio}}</label>
              </mat-form-field>
            </div>
            <div class="col-md-6 justify-content-md-center align-self-center">
              <button (click)="agregarDetalle()" mat-raised-button type="submit"
                class="btn btn-rose btn-fill btn-wd col-md-6">Agregar Detalle</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
      Termina la parte de campos para crear detalles
    -->
    <!--
      tabla de detalles
    -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceDetalleServicio">

        <!-- Position Column -->
        <ng-container matColumnDef="idDetalle">
          <th mat-header-cell *matHeaderCellDef> id Detalle </th>
          <td mat-cell *matCellDef="let detalleServicio"> {{detalleServicio.idServicioDetalle}} </td>
        </ng-container>
        <ng-container matColumnDef="presentacion">
          <th mat-header-cell *matHeaderCellDef> Presentacion </th>
          <td mat-cell *matCellDef="let detalleServicio">
            {{detalleServicio.idPresentacionProducto.idPresentacionProducto}} </td>
        </ng-container>
        <ng-container matColumnDef="precioUnitario">
          <th mat-header-cell *matHeaderCellDef> precio unitario </th>
          <td mat-cell *matCellDef="let detalleServicio"> {{detalleServicio.precioVenta}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> cantidad </th>
          <td mat-cell *matCellDef="let detalleServicio"> {{detalleServicio.cantidad}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> total </th>
          <td mat-cell *matCellDef="let detalleServicio"> {{detalleServicio.precioVenta * detalleServicio.cantidad}}
          </td>
        </ng-container>
        <!--
          acciones de edicion y eliminacion
        -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let detalleServicio">
            <button mat-raised-button type="button" class="btn btn-danger"
              (click)="openModalEliminarDetalleServicio(detalleServicio)">
              eliminar detalle servicio
            </button>
          </td>
        </ng-container>
        <!--
          Hasta aqui las columnas
        -->

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDetallesServicio"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDetallesServicio;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons></mat-paginator>
    </div>
    <!--
      termina la tabla de detalles
    -->
  </div>
</div>