<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-text card-header-warning">
            <div class="card-text">
              <h4 class="card-title">Categorias</h4>
            </div>
          </div>
            <div class="card-body table-responsive">
                <mat-form-field>
                  <input matInput placeholder="Buscar Categoria" #filtroCategoria>
                </mat-form-field>
                <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                  <mat-spinner></mat-spinner>
                </div>
                <table mat-table [dataSource]="dataSource" matSort matSortActive="descripcion" class="table table-hover">
                  <ng-container matColumnDef="idCategoria">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td mat-cell *matCellDef="let categoria" > {{categoria.idCategoria}} </td>
                  </ng-container>
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
                    <td mat-cell *matCellDef="let categoria" > {{categoria.descripcion}} </td>
                  </ng-container>
                  <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef> Acciones </th>
                      <td mat-cell *matCellDef="let categoria" >
                          <button mat-raised-button type="button" class="btn btn-success" (click)="pantallaEdicion(categoria.idCategoria)">
                              <i class="material-icons">edit</i>
                          </button>
                          <button mat-raised-button type="button" class="btn btn-danger" (click)="openModalEliminar(categoria.idCategoria)">
                              <i class="material-icons">delete</i>
                          </button>
                        </td>
                  </ng-container> 
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="totalDatos" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-text card-header-warning">
            <div class="card-text">
              <h4 class="card-title">Categorias</h4>
            </div>
          </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                              <th *ngFor="let cell of tableData?.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                      <tbody>
                          <tr *ngFor="let row of tableData?.dataRows">
                              <td *ngFor="let cell of row">{{cell}}</td>
                              <td class="td-actions text-center">
                                <button mat-raised-button type="button" class="btn btn-success {{row[5]}}" (click)="pantallaEdicion(row[0])">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-danger {{row[5]}}" (click)="openModalEliminar(row[0])">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                          </tr>
                      </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

-->