<div class="card-body">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li *ngIf= "pagina > 1 " class="page-item">
        <a mat-button class="page-link" aria-label="Previous" (click)="anterior()" >
          <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
        </a>
      </li>
      
      <li class="page-item active">
        <a mat-button class="page-link" >{{pagina}}</a>
      </li>
      
      <li *ngIf="pagina < numPaginas" class="page-item">
        <a mat-button class="page-link" aria-label="Next" (click)="siguiente()">
          <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </a>
      </li>
    </ul>
  </nav>
</div>
