<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <form [formGroup]="crearCategoriaForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                  <h4 class="card-title">Crear Categoria</h4>
              </div>
              <div class="card-body ">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Descripcion de la Categoria" required type="text" formControlName="descripcion">
                </mat-form-field>
              </div>
              <div class="card-footer ">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose" [disabled]="!crearCategoriaForm.valid">Crear</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>