<h1 mat-dialog-title> Escoja Un empleado de la lista</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Escoja un empleado</mat-label>
        <!--
            data es el valor que traje desde el componente VerServiciosComponent
             y el que se devuelve al cerrar el dialog
        -->
        <mat-select [(value)]="data" required>
            <mat-option>--</mat-option>
            <!--
             en la propiedad [value] se define que data se retorna si la opcion es elegida
          -->
            <mat-option *ngFor="let persona of arrayEmpleados" [value]="persona">
                {{persona.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>