<div class="main-content">
  <div class="container-fluid">
    <!--
        Empieza el Filtrado
      -->
    <!-- start filter -->
    <div class="card">
      <div class="card-body" [formGroup]="formGroup">
        <div class="col-md-12 align-content-center">
          <div class="row mt-2 container-fluid align-items-center">
           <!--Filtrado por empleado y cliente-->
           <ng-container *ngIf="empleadoFiltrado">
            <div class="col-md-3 align-self-center justify-content-md-center">
              <label class="ml-3">Empleado: {{empleadoFiltrado.nombre}}</label>
            </div>
          </ng-container>
          <div class="col-md-3 justify-content-md-center align-self-center">
            <button mat-raised-button class="col-md-6" (click)="openDialog('Empleado')">Filtrar
              Empleado</button>
          </div>

          <ng-container *ngIf="clienteFiltrado">
            <div class="col-md-3 align-self-center justify-content-md-center">
              <label class="ml-3">Cliente: {{clienteFiltrado.nombre}}</label>
            </div>
          </ng-container>
          <div class="col-md-3 justify-content-md-center align-self-center">
            <button mat-raised-button class="col-md-6" (click)="openDialog('Cliente')">Filtrar
              Cliente</button>
          </div>
          <!--
            Fin Filtrado por empleado y cliente
          -->
          <div class=" mt-2 row container-fluid align-items-center">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput class="mt-1" [value]="fechaDesde" [matDatepicker]="desde" formControlName="fechaDesde"
                  placeholder="Fecha desde" (dateChange)="checkFechaDesde($event)" (click)="desde.open()">
                <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                <mat-datepicker #desde></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput class="mt-1" [min]="fechaDesde" [value]="fechaHasta" [matDatepicker]="hasta"
                  formControlName="fechaHasta" placeholder="Fecha hasta" (click)="hasta.open()">
                <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                <mat-datepicker #hasta></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- boton buscar -->
          <div class="row mt-3 container-fluid align-items-center">
            <div class="col-md-6 justify-content-md-center align-self-center">
              <button (click)="buscar()" mat-raised-button type="submit"
                class="btn btn-rose btn-fill btn-wd col-md-6">Buscar</button>
            </div>
            <div class="col-md-6 justify-content-md-center align-self-center">
              <button (click)="limpiar()" mat-raised-button type="submit"
                class="btn btn-rose btn-fill btn-wd col-md-6">Limpiar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end filter -->

    <!--
        Termina el filtrado
      -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.fechaHora}} </td>
        </ng-container>
        <ng-container matColumnDef="idFicha">
          <th mat-header-cell *matHeaderCellDef> id ficha </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.idFichaClinica}} </td>
        </ng-container>
        
        <ng-container matColumnDef="idServicio">
          <th mat-header-cell *matHeaderCellDef> Id Servicio </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idServicio}} </td>
        </ng-container>
        
        <ng-container matColumnDef="fechaFicha">
          <th mat-header-cell *matHeaderCellDef> fecha Ficha </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.fechaHora}} </td>
        </ng-container>
        <ng-container matColumnDef="profesional">
          <th mat-header-cell *matHeaderCellDef> profesional </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idEmpleado.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> cliente </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.idCliente.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Id categoria </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.idTipoProducto.idCategoria.idCategoria}}
          </td>
        </ng-container>
        <ng-container matColumnDef="subcategoria">
          <th mat-header-cell *matHeaderCellDef> Id subcategoria </th>
          <td mat-cell *matCellDef="let servicio"> {{servicio.idFichaClinica.idTipoProducto.idTipoProducto}} </td>
        </ng-container>
        
        <!--
        acciones de edicion y eliminacion
      -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let servicio">
            <button mat-raised-button type="button" class="btn btn-rose"
              (click)="pantallaEdicion(servicio)">
              <i class="material-icons">zoom_in</i>
              Ver/Editar
            </button>
            
          </td>
        </ng-container>
        <!--
        Hasta aqui las columnas
      -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="row mt-3 container-fluid align-items-center">
      <div class="col-md-6 justify-content-md-center align-self-center">
        <button (click)="agregarServicio()" mat-raised-button type="submit"
          class="btn btn-rose btn-fill btn-wd col-md-6">Agregar Servicio</button>
      </div>
    </div>
  </div>
</div>