<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-text card-header-warning">
            <div class="card-text">
              <h4 class="card-title">Pacientes</h4>
            </div>
          </div>
            <div class="card-body table-responsive">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Paciente">
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" matSort class="table table-hover">
                  <ng-container matColumnDef="idPaciente">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                      <td mat-cell *matCellDef="let paciente" > {{paciente.idPersona}} </td>
                  </ng-container>
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let paciente" > {{paciente.nombre}} </td>
                  </ng-container>
                  <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
                    <td mat-cell *matCellDef="let paciente" > {{paciente.apellido}} </td>
                  </ng-container>
                  <ng-container matColumnDef="telefono">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
                      <td mat-cell *matCellDef="let paciente" > {{paciente.telefono}} </td>
                    </ng-container>
                  <ng-container matColumnDef="cedula">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cedula de Identidad</th>
                    <td mat-cell *matCellDef="let paciente" > {{paciente.cedula}} </td>
                  </ng-container>
                  <ng-container matColumnDef="tipoPersona">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Persona</th>
                      <td mat-cell *matCellDef="let paciente" > {{paciente.tipoPersona}} </td>
                    </ng-container>
                  <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                      <td mat-cell *matCellDef="let paciente" > {{paciente.email}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ruc">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>RUC</th>
                      <td mat-cell *matCellDef="let paciente" > {{paciente.ruc}} </td>
                  </ng-container>
                  <ng-container matColumnDef="fechaNacimiento">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Nacimiento</th>
                      <td mat-cell *matCellDef="let paciente" > {{paciente.fechaNacimiento}} </td>
                  </ng-container>
                  <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef> Acciones </th>
                      <td mat-cell *matCellDef="let paciente" >
                          <button mat-raised-button type="button" class="btn btn-success" (click)="pantallaEdicion(paciente.idPersona)">
                              <i class="material-icons">edit</i>
                          </button>
                          <button mat-raised-button type="button" class="btn btn-danger" (click)="openModalEliminar(paciente.idPersona)">
                              <i class="material-icons">delete</i>
                          </button>
                        </td>
                  </ng-container> 
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


