<div class="main-content">
  <div class="container-fluid">
      <div class="card col-lg-10" >
          <form class="card-body" [formGroup]="filtradoForm" > 
              <div class="row ">
                  <div class=" col-md-12 align-content-center">
                      <mat-form-field >
                        <input matInput placeholder="filtrar descripcion" type="text" formControlName="descripcion">
                      </mat-form-field>

                      <mat-form-field>
                        <mat-select matSelect placeholder="categoria" formControlName="idCategoria">
                          <mat-option *ngFor="let cat of Categorias" [value]="cat">
                            {{ cat.descripcion }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="row container-fluid align-items-center">
                        <!-- boton buscar -->
                          <div class="col-md-6 justify-content-md-center align-self-center">
                              <button mat-raised-button  (click)="buscar()" type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Buscar</button>
                          </div>
                        
                        <!-- boton reset -->
                        
                          <div class="col-md-6 justify-content-md-center align-self-center">
                              <button mat-raised-button  (click)="onReset()" type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Limpiar</button>
                          </div>
                
                      </div>
                      
                  </div>
              </div>
            </form>
      </div>
      <!-- end filter-->
    <div class="row">
      <div class="col-lg-10 col-md-12">
        <div class="card">
          <div class="card-header card-header-text card-header-warning">
            <div class="card-text">
              <h4 class="card-title">SubCategorias</h4>
            </div>
          </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                              <th *ngFor="let cell of tableData?.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                      <tbody>
                          <tr *ngFor="let subcat of tableData?.dataRows">
                              <!--<td *ngFor="let cell of subcat">{{cell}}</td>-->
                              <td>{{subcat.idTipoProducto}}</td>
                              <td>{{subcat.descripcion}}</td>
                              <td>{{subcat.idCategoria.descripcion}}</td>

                              <td class="td-actions text-center">

                                <button mat-raised-button type="button" class="btn btn-success btn-round " (click)="redirigir(subcat.idTipoProducto)">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-danger btn-round" (click)="openModalEliminar(subcat.idTipoProducto)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                          </tr>
                      </tbody>
                </table>
            </div>
            <app-paginacion (paginaEmitter)="goToPage($event)" [pagina]="pagina" [numPaginas]="numPaginas" [totalDatos]="totalDatos"></app-paginacion>
        </div>
      </div>
    </div>
  </div>
</div>