
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <form [formGroup]="registrarFichaForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                <h4 class="card-title">Ficha Clinica</h4>
              </div>
            </div>
            <div class="card-body ">
              <div class="row">
                <label class="col-sm-2 col-form-label">Motivo de consulta</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" formControlName="motivoConsulta">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-2 col-form-label">Diagnostico</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" formControlName="diagnostico">
                  </mat-form-field>
                </div>
                <label class="col-sm-2 col-form-label">Observaciones</label>
                <div class="col-sm-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" formControlName="observacion">
                  </mat-form-field>
                </div>
              </div>
              <div>
              <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-4">
                  <mat-form-field>
                    <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="getSubcategorias(categoriaSeleccionada.idCategoria)" matSelect placeholder="categoria" required formControlName="idCategoria">
                      <mat-option *ngFor="let cat of categorias" [value]="cat">
                        {{ cat.descripcion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div *ngIf="subcategorias?.length" class="col-lg-5 col-md-8 col-sm-4">
                  <mat-form-field>
                    <mat-select matSelect placeholder="subcategoria" required formControlName="idTipoProducto">
                      <mat-option *ngFor="let subcat of subcategorias" [value]="subcat">
                        {{ subcat.descripcion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              </div>
              <div class="col-md-6 justify-content-md-center align-self-center">
                <button type="button" mat-raised-button class="col-md-6" (click)="openDialogCliente()">Filtrar Persona</button> Paciente: {{ persona?.nombre }}
              </div>
              <div class="col-md-6 justify-content-md-center align-self-center">
                <button type="button" mat-raised-button class="col-md-6" (click)="openDialogFisioterapeuta()">Filtrar Fisioterapeuta</button> Fisioterapeuta: {{ fisio?.nombre }}
              </div>
              <br>
              <div class="input-group mb-3 border rounded col-md-4">
                <div>
                    <button *ngIf="isLoadingArchivo" class="btn" (click)="vaciarInputArchivo()" type="button"><i class="material-icons">close</i></button>
                </div>
                <div class="custom-file">
                  <!--mat-form-field -->
                  <input class="custom-file-input row" type="file" id="enviarArchivo" #archivoInput (change)="cargarArchivo()" placeholder="Subir Archivo">
                  <label class="custom-file-label"></label>
                  <mat-hint *ngIf="errorArchivo" style="color:red">
                    <p>No se ha podido subir el archivo. Error en el servidor</p>
                  </mat-hint>
                  <!--/mat-form-field-->
                  <!--input type="file" id="enviarArchivo" class="inputFile"  #archivoInput (change)="cargarArchivo()"-->
                </div>
              </div>
              <div>{{ archivoName }}</div>
            </div>
            <div class="card-footer ">
                <button mat-raised-button type="submit" class="btn btn-fill btn-rose" [disabled]="!registrarFichaForm.valid">Crear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>