<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <form [formGroup]="editarProductoForm" (ngSubmit)="onSubmit()" class="form-horizontal">
              <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">Crear Producto</h4>
                </div>
                <div class="card-body ">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Codigo" required type="text" formControlName="codigoProducto">
                   </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="nombre del Producto" required type="text" formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="descripcion del Producto" required type="text" formControlName="descripcion">
                      </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Id del Producto" required type="text" formControlName="idProducto">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Id tipo Producto" required type="text" formControlName="idTipoProducto">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="precio de venta" required type="text" formControlName="precioVenta">
                          </mat-form-field>
                </div>
                <div class="card-footer ">
                    <button mat-raised-button type="submit" class="btn btn-fill btn-rose" [disabled]="!editarProductoForm.valid">Crear</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>