<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                  <h4 class="card-title">Editar Horario Excepción</h4>
                  <span>Empleado: {{nombreEmpleado}}</span>
              </div>
            </div>
            <form [formGroup]="editarRegistroAtencionForm" (ngSubmit)="onSubmit()" >
              <div class="card-body ">

                  <mat-form-field >
                    <mat-select matSelect placeholder="Tipo de registro" required formControlName="flagEsHabilitar">
                      <mat-option *ngFor="let tipo of tipoHorario" [value]="tipo.valor">
                        {{ tipo.clave }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <div class="mr-auto">
                      <mat-form-field>
                          <input matInput class="mt-1" [matDatepicker]="fecha" formControlName="fechaCadena" placeholder="Fecha" (click)="fecha.open()">
                          <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                          <mat-datepicker #fecha></mat-datepicker>
                      </mat-form-field>
                  </div>

                  <mat-form-field *ngIf="editarRegistroAtencionForm.value.flagEsHabilitar == 'S'">
                    <input matInput  type="time"  placeholder="Hora Apertura" formControlName="horaAperturaCadena" required>  
                  </mat-form-field>
                
                  <mat-form-field *ngIf="editarRegistroAtencionForm.value.flagEsHabilitar == 'S'">
                    <input  matInput type="time"  placeholder="Hora Cierre" formControlName="horaCierreCadena">  
                  </mat-form-field>
                  
                  <mat-form-field *ngIf="editarRegistroAtencionForm.value.flagEsHabilitar == 'S'" >
                    <input matInput type="number" min="1" max="60" placeholder="IntervaloMinutos" required formControlName="intervaloMinutos"> 
                  </mat-form-field>

              </div>
              <div class="row">
                <div class="card-footer ">
                    <button mat-raised-button type="submit" class="btn btn-fill btn-rose" >Guardar</button>
                </div>

                <div class="card-footer ">
                    <button mat-raised-button type="button" class="btn btn-fill btn-rose" (click)="goBack()" >Cancelar</button>
                </div>

              </div>
                
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
