<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-md-center align-items-center">
      <div class="container col-md-5">
        <div class="card">
          <form [formGroup]="login">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">account_box</i>
              </div>
              <h4 class="card-title">Inicio de sesión</h4>
            </div>
            <div class="card-body">
              <mat-form-field class="example-full-width" [ngClass]="{'has-success':validUsernameLogin===true}" [ngClass]="displayFieldCss(login, 'username')">
                <input
                        matInput
                        #username
                        placeholder="Usuario *"
                        (ngModelChange)="usernameValidationLogin($event)"
                        formControlName="username">
              </mat-form-field>
              <mat-form-field class="example-full-width" [ngClass]="{'has-success':validPasswordLogin===true}" [ngClass]="displayFieldCss(login, 'password')">
                <input type="password"
                       matInput
                       placeholder="Contraseña *"
                       name="username"
                       (ngModelChange)="passwordValidationLogin($event)"
                       formControlName="password">
              </mat-form-field>
              <div class="category form-category">* Campos obligatorios</div>
              <mat-error *ngIf="isPresionadoLogin() && !this.autenticado">
                Usuario y/o contraseña no validos.
              </mat-error>
            </div>
            <div class="card-footer text-center">
              <div class="container">
                <button mat-raised-button [disabled]="!validUsernameLogin || !validPasswordLogin" type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onLogin(username.value.toString())">Iniciar Sesión</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
