<form class="example-form">
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Empleado" (ngModelChange)="onChange($event)" aria-label="Empleado" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete id="listaPersona" #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let persona of filteredOptions | async" [value]="persona">
          {{persona.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="row justify-content-md-center">
    <div class="container-fluid">
      <button type="submit" [disabled]="!esObjeto" (click)="aceptar()" class="btn btn-rose btn-fill btn-wd col-md col-sm col-lg">Aceptar</button>
    </div>
  </div>
</form>
