
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                <h4 class="card-title">Ficha Clinica</h4>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">Fisioterapeuta</div>
                    <div class="col-sm-10">
                      {{ ficha?.idEmpleado.nombreCompleto }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Paciente</div>
                    <div class="col-sm-10">
                      {{ ficha?.idCliente.nombreCompleto }}
                    </div>
                </div>
              <div class="row">
                <div class="col-sm-2">Motivo de consulta</div>
                <div class="col-sm-10">
                  {{ ficha?.motivoConsulta }}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">Diagnostico</div>
                <div class="col-sm-10">
                  {{ ficha?.diagnostico }}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">Observaciones</div>
                <div class="col-sm-10">
                  {{ ficha?.observacion }}
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-2">Categoria</div>
                  <div class="col-sm-10">
                    {{ ficha?.idTipoProducto.idCategoria.descripcion }}
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-2">Subcategoria</div>
                  <div class="col-sm-10">
                    {{ ficha?.idTipoProducto.descripcion }}
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-2">Archivos</div>
                  <div *ngIf="listaArchivos" class="col-sm-10">
                    <div *ngFor="let archivo of listaArchivos">
                      <div class="col-md-8"><a class="col-md-6" href="{{archivo.urlImagen}}">{{ archivo.nombre }}</a><i (click)="openModalEliminar(archivo.idFichaArchivo)" class="btn-sm tiny material-icons">close</i></div>
                    </div>
                  </div>
                  <div *ngIf="!listaArchivos" class="col-sm-10">
                      No hay archivos adjuntos a la ficha
                  </div>
              </div>
              <table mat-table [dataSource]="dataSource" class="table table-hover">
                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let servicio"> {{servicio.fechaHora}} </td>
                  </ng-container>
                  <ng-container matColumnDef="presupuesto">
                    <th mat-header-cell *matHeaderCellDef> Presupuesto </th>
                    <td mat-cell *matCellDef="let servicio"> {{servicio.presupuesto}} </td>
                  </ng-container>
                  <!--
                  acciones de edicion y eliminacion
                  -->
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let servicio">
                      <button mat-raised-button type="button" class="btn btn-success"
                        (click)="pantallaEdicion(servicio.idServicio)">
                        <i class="material-icons">edit</i>
                      </button>
                    </td>
                  </ng-container>
                  <!--
                  Hasta aqui las columnas
                  -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>