<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                  <h4 class="card-title">Editar Horario Agenda</h4>
                  <span>Empleado: {{nombreEmpleado}} </span>
              </div>
            </div>
            <form [formGroup]="editarHorarioForm" (ngSubmit)="onSubmit()" >
              <div class="card-body ">
                
                  <mat-form-field >
                    <mat-select matSelect placeholder="dia" required formControlName="dia">
                      <mat-option *ngFor="let dia of dias" [value]="dia.value">
                        {{ dia.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                                    
                  <mat-form-field >
                    <input matInput type="time"  placeholder="Hora Apertura" formControlName="horaAperturaCadena" required>  
                  </mat-form-field>
                
                  <mat-form-field >
                    <input matInput type="time" placeholder="Hora Cierre" formControlName="horaCierreCadena">  
                  </mat-form-field>
                  
                  <mat-form-field >
                    <input matInput type="number" min="1" max="60" placeholder="IntervaloMinutos" required formControlName="intervaloMinutos"> 
                  </mat-form-field>
              </div>
              <div class="row"> 
                <div class="card-footer ">
                    <button mat-raised-button type="submit" class="btn btn-fill btn-rose" [disabled]="!editarHorarioForm.valid">Guardar</button>
                </div>
                <div class="card-footer ">
                    <button mat-raised-button type="button" class="btn btn-fill btn-rose" (click)="goBack()" >Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>