<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-text card-header-warning">
                    <div class="card-text">
                      <h4 class="card-title">Fichas</h4>
                    </div>
                  </div>
                  <div class="card-body table-responsive" [formGroup]="formGroup">
                    <div class="col-md-12 align-content-center">
                      <div class="row mt-2 container-fluid align-items-center">
                        <ng-container *ngIf="empleadoFiltrado || clienteFiltrado">
                          <div class="col-md-6 align-self-center justify-content-md-center">
                            <label class="ml-3">{{clienteSeleccionado?.nombre}}</label>
                          </div>
                        </ng-container>
                        <div class="col-md-6 justify-content-md-center align-self-center">
                          <button mat-raised-button class="col-md-6" (click)="openDialogCliente()">Filtrar
                            Cliente</button>
                        </div>
                      </div>
                      <div class="row mt-2 container-fluid align-items-center">
                          <ng-container *ngIf="empleadoFiltrado || clienteFiltrado">
                            <div class="col-md-6 align-self-center justify-content-md-center">
                              <label class="ml-3">{{empleadoSeleccionado?.nombre}}</label>
                            </div>
                          </ng-container>
                          <div class="col-md-6 justify-content-md-center align-self-center">
                            <button mat-raised-button class="col-md-6" (click)="openDialogEmpleado()">Filtrar
                              Fisioterapista</button>
                          </div>
                        </div>
                      <div class=" mt-2 row container-fluid align-items-center">
                        <div class="col-md-6">
                          <mat-form-field>
                            <input matInput class="mt-1" [value]="fechaDesde" [matDatepicker]="desde" formControlName="fechaDesde"
                              placeholder="Fecha desde" (dateChange)="checkFechaDesde($event)" (click)="desde.open()">
                            <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
                            <mat-datepicker #desde></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field>
                            <input matInput class="mt-1" [min]="fechaDesde" [value]="fechaHasta" [matDatepicker]="hasta"
                              formControlName="fechaHasta" placeholder="Fecha hasta" (click)="hasta.open()">
                            <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
                            <mat-datepicker #hasta></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- boton buscar -->
                      <div class="row mt-3 container-fluid align-items-center">
                        <div class="col-md-6 justify-content-md-center align-self-center">
                          <button (click)="buscar()" mat-raised-button type="submit"
                            class="btn btn-rose btn-fill btn-wd col-md-6">Buscar</button>
                        </div>
                        <div class="col-md-6 justify-content-md-center align-self-center">
                          <button (click)="limpiar()" mat-raised-button type="submit"
                            class="btn btn-rose btn-fill btn-wd col-md-6">Limpiar</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="card">
                <div class="card-body table-responsive">
                  <table mat-table [dataSource]="dataSource" class="table table-hover">
                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef> Fecha </th>
                      <td mat-cell *matCellDef="let ficha"> {{ficha.fechaHora}} </td>
                    </ng-container>
                    <ng-container matColumnDef="profesional">
                      <th mat-header-cell *matHeaderCellDef> Profesional </th>
                      <td mat-cell *matCellDef="let ficha"> {{ficha.idEmpleado.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cliente">
                      <th mat-header-cell *matHeaderCellDef> Cliente </th>
                      <td mat-cell *matCellDef="let ficha"> {{ficha.idCliente.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="categoria">
                      <th mat-header-cell *matHeaderCellDef> Categoria </th>
                      <td mat-cell *matCellDef="let ficha"> {{ficha.idTipoProducto.idCategoria.descripcion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="subcategoria">
                      <th mat-header-cell *matHeaderCellDef> Subcategoria </th>
                      <td mat-cell *matCellDef="let ficha"> {{ficha.idTipoProducto.descripcion}} </td>
                    </ng-container>
                    <!--
                    acciones de edicion y eliminacion
                    -->
                    <ng-container matColumnDef="acciones">
                      <th mat-header-cell *matHeaderCellDef> Acciones </th>
                      <td mat-cell *matCellDef="let ficha">
                          <button mat-raised-button type="button" class="btn-sm btn-success"
                          (click)="pantallaVer(ficha.idFichaClinica)">
                          <i class="material-icons">remove_red_eye</i>
                        </button>
                        <button mat-raised-button type="button" class="btn-sm btn-success"
                          (click)="pantallaEdicion(ficha.idFichaClinica)">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" class="btn-sm btn-danger"
                          (click)="openModalEliminar(ficha.idFichaClinica)">
                          <i class="material-icons">delete</i>
                        </button>
                        <button mat-raised-button type="button" class="btn-sm btn-success"
                        (click)="agregarServicio(ficha.idFichaClinica)">
                        <i class="material-icons">add</i>
                      </button>
                      </td>
                    </ng-container>
                    <!--
                    Hasta aqui las columnas
                    -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>
                  <div class="row mt-3 container-fluid align-items-center">
                    <div class="col-md-6 justify-content-md-center align-self-center">
                      <button (click)="agregarFicha()" mat-raised-button type="submit"
                        class="btn btn-rose btn-fill btn-wd col-md-6">Agregar Ficha</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
