<div class="main-content">
  <div class="container-fluid">
      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
          <mat-spinner></mat-spinner>
      </div>
      <!--<mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
      -->
      <mat-form-field>
          <input matInput placeholder="Filtrar por nombre or idTipoProducto" #input>
      </mat-form-field>
      <mat-form-field>
          <mat-label>Selecciona una opción de filtrado</mat-label>
          <mat-select [(value)]="opcionFiltrado">
            <mat-option>None</mat-option>
            <mat-option value="idTipoProducto">subcategoria</mat-option>
            <mat-option value="nombre">nombre</mat-option>
            </mat-select>
        </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
    matSort matSortActive="idPresentacionProducto" matSortDirection="asc" matSortDisableClear>
      <ng-container matColumnDef="idPresentacionProducto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Presentacion Producto </th>
        <td mat-cell *matCellDef="let producto" > {{producto.idPresentacionProducto}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef > Nombre </th>
        <td mat-cell *matCellDef="let producto" > {{producto.nombre| uppercase}} </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef > Descripción </th>
        <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
      </ng-container>
      <ng-container matColumnDef="idProducto">
        <th mat-header-cell *matHeaderCellDef > Id Producto </th>
        <td mat-cell *matCellDef="let producto"> {{producto.idProducto.idProducto}} </td>
      </ng-container>
      <ng-container matColumnDef="idTipoProducto" >
        <th mat-header-cell *matHeaderCellDef > Id Tipo producto </th>
        <td mat-cell *matCellDef="let producto"> {{producto.idProducto.idTipoProducto.idTipoProducto}} </td>
      </ng-container>
      
      <!--
        acciones de edicion y eliminacion
      -->
      <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let producto" >
              <button mat-raised-button type="button" class="btn btn-success" (click)="pantallaEdicion(producto.idPresentacionProducto)">
                  <i class="material-icons">edit</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-danger" (click)="openModalEliminar(producto.idPresentacionProducto)">
                  <i class="material-icons">delete</i>
              </button>
            </td>
      </ng-container> 
      <!--
        Hasta aqui las columnas
      -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="productosLength" [pageSize]="10"
    [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>


      <!--
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h3>Filtros por nombre o subcategoría</h3>
          <input type="text" class="form-control" placeholder="filtro por nombre o subcategoria"
            [(ngModel)]="searchTerm" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="table-responsive-sm">
            
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id presentacion Producto</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>Id Producto</th>
            <th>Id tipo producto</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor='let producto of productos| productoFilter: searchTerm'>
            <td>
              {{producto.idPresentacionProducto}}
            </td>
            <td>
              {{producto.nombre}}
            </td>
            <td>
              {{producto.descripcion}}
              <span ng-if="!producto.descripcion">null</span>
            </td>
            <td>
              {{producto.idProducto.idProducto}}
            </td>
            <td>
              {{producto.idProducto.idTipoProducto.idTipoProducto}}
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  </div>
  -->
</div>
</div>