<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                  <h4 class="card-title">Crear Horario Agenda</h4>
              </div>
            </div>
            <div class="row mt-2 container-fluid align-items-center">
                <div class="col-md-6 align-self-center justify-content-md-center" *ngIf="empleadoId">
                    <label class="ml-3">{{empleadoNombre}}</label>
                </div>
                <div class="col-md-6 justify-content-md-center align-self-center">
                    <button mat-raised-button class="col-md-6" (click)="openDialog()">Buscar empleado</button>
                </div>
            </div>
            <form [formGroup]="agregarRegistroAtencionForm" (ngSubmit)="onSubmit()" >
              <div class="card-body ">

                  <mat-form-field >
                    <mat-select matSelect placeholder="Tipo de registro" required formControlName="flagEsHabilitar">
                      <mat-option *ngFor="let tipo of tipoHorario" [value]="tipo.valor">
                        {{ tipo.clave }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <div class="mr-auto">
                      <mat-form-field>
                          <input matInput class="mt-1" [matDatepicker]="fecha" formControlName="fechaCadena" placeholder="Fecha" (click)="fecha.open()">
                          <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                          <mat-datepicker #fecha></mat-datepicker>
                      </mat-form-field>
                  </div>

                  <mat-form-field *ngIf="agregarRegistroAtencionForm.value.flagEsHabilitar == 'S'">
                    <input matInput  type="time" value="00:00" placeholder="Hora Apertura" formControlName="horaAperturaCadena" required>  
                  </mat-form-field>
                
                  <mat-form-field *ngIf="agregarRegistroAtencionForm.value.flagEsHabilitar == 'S'">
                    <input  matInput type="time" value="00:00" placeholder="Hora Cierre" formControlName="horaCierreCadena">  
                  </mat-form-field>
                  
                  <mat-form-field *ngIf="agregarRegistroAtencionForm.value.flagEsHabilitar == 'S'" >
                    <input matInput type="number" min="1" max="60" placeholder="IntervaloMinutos" required formControlName="intervaloMinutos"> 
                  </mat-form-field>

              </div>
              <div class="card-footer ">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose" >Crear</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
