<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <form [formGroup]="editarPacienteForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                  <h4 class="card-title">Modificar datos del Paciente</h4>
              </div>
              <div class="card-body ">
                <div class="row">
                  <label class="col-sm-3 col-form-label">Nombre</label>
                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width" >
                      <input matInput type="text" formControlName="nombre">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3 col-form-label">Apellido</label>
                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width" >
                      <input matInput type="text" formControlName="apellido">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3 col-form-label">Telefono</label>
                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width" >
                      <input matInput type="text" formControlName="telefono">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width" >
                      <input matInput type="text" formControlName="email">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3 col-form-label">ruc</label>
                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width" >
                      <input matInput type="text" formControlName="ruc">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3 col-form-label">Cedula</label>
                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width" >
                      <input matInput type="text" formControlName="cedula">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3 col-form-label">Tipo de Persona</label>
                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width" >
                      <input matInput type="text" formControlName="tipoPersona">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                  <div class="col-sm-10">
                    <mat-form-field class="example-full-width" >
                      <input matInput type="date" formControlName="fechaNacimiento">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose" [disabled]="!editarPacienteForm.valid">Guardar Cambios</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
