<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <form [formGroup]="editarSubcategoriaForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                  <h4 class="card-title">Editar subCategoria</h4>
              </div>
              
            </div>
            <div class="card-body ">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Descripcion nueva" required type="text" formControlName="descripcion">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Categoría" type="text" formControlName="idCategoria" >
                </mat-form-field>
              </div>
            <div class="row">
              <div class="card-footer ">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose" [disabled]="!editarSubcategoriaForm.valid" >Guardar</button>
              </div>
              <div class="card-footer ">
                <button mat-raised-button type="button" class="btn btn-fill btn-rose" (click)="goBack()" >Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>