<div *ngIf="mensajesProductosService.messages.length">

  <h2>Mensajes</h2>
  <button class="clear"
          (click)="mensajesProductosService.clear()">clear</button>
  <div *ngFor='let message of mensajesProductosService.messages'> {{message}} </div>

</div>