<div class="main-content">
    <div class="container-fluid">
        <div class="card col-lg-10" >
            <form class="card-body" [formGroup]="filtradoForm" > 
                <div class="row ">
                    <div class=" col-md-12 align-content-center">
                        
                        <div class="row mt-2 container-fluid align-items-center">
                            <div class="col-md-6 align-self-center justify-content-md-center" *ngIf="empleadoId">
                                <label class="ml-3">{{empleadoNombre}}</label>
                            </div>
                            <div class="col-md-6 justify-content-md-center align-self-center">
                                <button mat-raised-button class="col-md-6" (click)="openDialog()">Filtrar Empleado</button>
                            </div>
                        </div>
                        <div >                        
                          <mat-form-field style="width: 70%" >
                              <mat-select matSelect placeholder="dia"  formControlName="dia" size="20">
                                <mat-option *ngFor="let dia of dias" [value]="dia.value">
                                  {{ dia.viewValue }}
                                </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="row container-fluid align-items-center">
                          <!-- boton buscar -->
                            <div class="col-md-6 justify-content-md-center align-self-center">
                                <button mat-raised-button  (click)="buscar()" type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Buscar</button>
                            </div>
                          
                          <!-- boton reset -->
                          
                            <div class="col-md-6 justify-content-md-center align-self-center">
                                <button mat-raised-button  (click)="onReset()" type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Limpiar</button>
                            </div>
                  
                        </div>
                        
                    </div>
                </div>
              </form>
        </div>
        <!-- end filter-->
      <div class="row">
        <div class="col-lg-10 col-md-12">
          <div class="card">
            
            <!--<div class="card-header card-header-text card-header-warning">
              <div class="card-text">
                <h4 class="card-title">Agenda</h4>
              </div>
            </div>-->
            <div class="card-body table-responsive">
                <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                              <th *ngFor="let cell of tableData?.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                      <tbody>
                          <tr *ngFor="let agenda of tableData?.dataRows">
                              <!--<td *ngFor="let cell of subcat">{{cell}}</td>-->
                              <td>{{agenda.idPersonaHorarioAgenda}}</td>
                              <td>{{dias[agenda.dia].viewValue}}</td>
                              <td>{{agenda.horaApertura}}</td>
                              <td>{{agenda.horaCierre}}</td>
                              <td>{{agenda.intervaloMinutos}}</td>
                              <td>{{agenda.idEmpleado.nombreCompleto}}</td>

                              <td class="td-actions text-center">

                                <button mat-raised-button type="button" class="btn btn-success btn-round " (click)="redirigir(agenda.idPersonaHorarioAgenda,'add')">
                                    <i class="material-icons">add</i>
                                </button>

                                <button mat-raised-button type="button" class="btn btn-success btn-round " (click)="redirigir(agenda.idPersonaHorarioAgenda,'edit')">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-danger " (click)="openModalEliminar(agenda.idPersonaHorarioAgenda)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                          </tr>
                      </tbody>
                </table>
                <div class="col-md-4">
                    <app-paginacion (paginaEmitter)="goToPage($event)" [pagina]="pagina" [numPaginas]="numPaginas" [totalDatos]="totalDatos"></app-paginacion>
                </div>
            </div>
              <!--<app-paginacion (paginaEmitter)="goToPage($event)" [pagina]="pagina" [numPaginas]="numPaginas" [totalDatos]="totalDatos"></app-paginacion>-->
          </div>
        </div>
      </div>
    </div>
  </div>