<div>
  <div class="container-fluid">
    <!-- start form -->
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 align-content-center">
          <div class="row mt-2 container-fluid align-items-center">
            <div class="col-md-6 align-self-center justify-content-md-center" *ngIf="empleadoId">
              <label class="ml-3">{{empleadoNombre}}</label>
            </div>
            <div class="col-md-6 justify-content-md-center align-self-center">
              <button mat-raised-button class="col-md-6" (click)="openDialog()">Filtrar Empleado</button>
            </div>
          </div>
          <div class="row mt-2 container-fluid align-items-center">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select (selectionChange)="getSubLista()" [(value)]="categoriaSeleccionada" placeholder="Categoría" name="Categoria">
                  <mat-option *ngFor="let categoria of listaCategorias" [value]="categoria.id">
                    {{ categoria.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-select (selectionChange)="getPresentacionLista()" [disabled]="categoriaSeleccionada === null" [(value)]="subcategoriaSeleccionada" placeholder="Subcategoría" name="Subcategoria">
                  <mat-option *ngFor="let subCategoria of listaSubCategorias" [value]="subCategoria.id">
                    {{ subCategoria.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-2 container-fluid align-items-center">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select [disabled]="subcategoriaSeleccionada === null" [(value)]="presentacionSeleccionada" placeholder="Pesentación" name="Presentacion">
                  <mat-option *ngFor="let presentacion of listaPresentacion" [value]="presentacion.id">
                    {{ presentacion.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 justify-content-md-center align-self-center">
              <mat-form-field class="example-full-width">
                <input type="number" max="100" min="0" step=".01" matInput (ngModelChange)="redondear()" [(ngModel)]="campoComision" placeholder="Comision">
              </mat-form-field>
            </div>
          </div>
          <!-- botones -->
          <div class="row mt-3 container-fluid align-items-center">
            <div class="col-md-6 justify-content-md-center align-self-center">
              <button [disabled]="presentacionSeleccionada === null || campoComision === null || campoComision < 0 || campoComision > 100" (click)="agregar()" mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Asignar</button>
            </div>
            <div class="col-md-6 justify-content-md-center align-self-center">
              <button (click)="reset()" mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Limpiar formulario</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end form -->
  </div>
</div>
