<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
              <div class="card-text">
                  <h4 class="card-title">Crear subCategoria</h4>
              </div>
            </div>
          <form [formGroup]="crearSubCategoriaForm" (ngSubmit)="onSubmit()" >
            <div class="card-body ">
                <mat-form-field >
                  <input matInput placeholder="Descripcion de la Subcategoria" required type="text" formControlName="descripcion">
                </mat-form-field>
                <mat-form-field>
                  <mat-select matSelect placeholder="categoria" required formControlName="idCategoria">
                    <mat-option *ngFor="let cat of Categorias" [value]="cat">
                      {{ cat.descripcion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="card-footer ">
                  <button mat-raised-button type="submit" class="btn btn-fill btn-rose" [disabled]="!crearSubCategoriaForm.valid">Crear</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>