<div id="content" #content>
  <div class="main-content">
      <div class="container-fluid">
        <div class="mat-elevation-z8">
          <div class="card-header card-header-text card-header-warning">
              <div class="card-text">
                <h4 class="card-title">Reportes</h4>
              </div>
          </div>
          <!--Boton para el pdf-->
          <div>
            <button mat-button color="primary" (click)= "downloadPDF()">Exportar en PDF</button>
          </div>
          <div>
              <button mat-button color="primary" (click)= "exportAsXLSX()">Exportar excel</button>
            </div>
          
          <table *ngIf="dataSource" mat-table [dataSource]="dataSource">
            <!--<ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let reported"> jajaja {{reported.fechaHora}} </td>
            </ng-container>-->
            <!--<ng-container matColumnDef="idFicha">
              <th mat-header-cell *matHeaderCellDef> id ficha </th>
              <td mat-cell *matCellDef="let reporte"> {{reporte.idFichaClinica.idFichaClinica}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaFicha">
              <th mat-header-cell *matHeaderCellDef> fecha Ficha </th>
              <td mat-cell *matCellDef="let reporte"> {{reporte.idFichaClinica.fechaHora}} </td>
            </ng-container>
            <ng-container matColumnDef="Nprofesional">
              <th mat-header-cell *matHeaderCellDef [hidden]="!dataSource"> Nombre del profesional </th>
              <td mat-cell *matCellDef="let reported"> {{reported.reporte.idFichaClinica.idEmpleado.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="Aprofesional">
                <th mat-header-cell *matHeaderCellDef [hidden]="!dataSource"> Apellido del profesional </th>
                <td mat-cell *matCellDef="let reported"> {{reported.reporte.idFichaClinica.idEmpleado.apellido}} </td>
              </ng-container>

    
            <ng-container matColumnDef="Ncliente">
              <th mat-header-cell *matHeaderCellDef> Nombre del cliente </th>
              <td mat-cell *matCellDef="let reported"> {{reported.idFichaClinica.idCliente.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="Acliente">
                <th mat-header-cell *matHeaderCellDef> Apellido del cliente </th>
                <td mat-cell *matCellDef="let reporte"> {{reporte.idFichaClinica.idCliente.apellido}} </td>
            </ng-container>-->
  
            <!--
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let reporte">
                <button mat-raised-button type="button" class="btn btn-success"
                  (click)="pantallaEdicion(reporte.idReporte)">
                  <i class="material-icons">edit</i>
                </button>
                <button mat-raised-button type="button" class="btn btn-danger"
                  (click)="openModalEliminar(reporte.idReporte)">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </ng-container>-->
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <!--<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons></mat-paginator>-->
        </div>
        <!--<div class="row mt-3 container-fluid align-items-center">
          <div class="col-md-6 justify-content-md-center align-self-center">
            <button (click)="agregarReporte()" mat-raised-button type="submit"
              class="btn btn-rose btn-fill btn-wd col-md-6">Agregar Reporte</button>
          </div>
        </div>-->
      </div>
    </div>
</div>  