<div>
  <div class="container-fluid">
    <!-- start filter -->
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 align-content-center">
          <div *ngIf="filtrarPor === 'empleado'" class="row mt-2 container-fluid align-items-center">
            <div class="col-md-6 align-self-center justify-content-md-center" *ngIf="empleadoId">
              <label class="ml-3">{{empleadoNombre}}</label>
            </div>
            <div class="col-md-6 justify-content-md-center align-self-center">
              <button mat-raised-button class="col-md-6" (click)="openDialog()">Filtrar Empleado</button>
            </div>
          </div>
          <div *ngIf="filtrarPor === 'presentacion'" class="row mt-2 container-fluid align-items-center">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select (selectionChange)="getSubLista()" [(value)]="categoriaSeleccionada" placeholder="Categoría" name="Categoria">
                  <mat-option *ngFor="let categoria of listaCategorias" [value]="categoria.id">
                    {{ categoria.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-select (selectionChange)="getPresentacionLista()" [disabled]="categoriaSeleccionada === null" [(value)]="subcategoriaSeleccionada" placeholder="Subcategoría" name="Subcategoria">
                  <mat-option *ngFor="let subCategoria of listaSubCategorias" [value]="subCategoria.id">
                    {{ subCategoria.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="filtrarPor === 'presentacion'" class="row mt-2 container-fluid align-items-center">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select [disabled]="subcategoriaSeleccionada === null" (selectionChange)="buscar()" [(value)]="presentacionSeleccionada" placeholder="Pesentación" name="Presentacion">
                  <mat-option *ngFor="let presentacion of listaPresentacion" [value]="presentacion.id">
                    {{ presentacion.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- botones -->
          <div class="row mt-3 container-fluid align-items-center">
            <div class="col-md-6 justify-content-md-center align-self-center">
              <button (click)="reset()" mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Limpiar filtro</button>
            </div>
            <div class="col-md-6 justify-content-md-center align-self-center">
              <button (click)="filtrar()" mat-raised-button type="submit" class="btn btn-rose btn-fill btn-wd col-md-6">Filtrar por {{botonFiltro}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end filter -->
    <!-- start table -->
    <div class="card">
      <div class="card-body">
        <div class="col-md-12 align-content-center">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
              <tr>
                <th *ngFor="let cell of dataTable.headerRow">{{ cell }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of lista">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <!--<td class="td-actions text-right tim-row">
                  <div class="container row">
                    <button mat-raised-button type="button" (click)="eliminar(row[5])" class="col btn btn-danger btn-link">
                      <i class="material-icons">close</i>
                    </button>
                    <button mat-raised-button type="button" (click)="editar(row[5])" class=" col btn btn-info btn-link">
                      <button mat-raised-button type="button" (click)="editar(row[5], row[6], row[7])" class=" col btn btn-info btn-link">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button type="button" (click)="nuevaFicha(row[5])" class="col btn btn-success btn-link">
                        <i class="material-icons">add</i>
                      </button>
                  </div>
                </td>-->
              </tr>
              </tbody>
            </table>
          </div>
          <!-- paginado -->
          <div class="row mt-4 container-fluid align-items-center justify-content-center" *ngIf= "numPaginas > 1 ">
            <div class="justify-content-md-center align-self-center">
              <div class="row align-content-center justify-content-md-center">
                <div>
                  <a [disabled]="pagina <= 1" mat-button class="page-link" aria-label="Previous" (click)="anterior()" >
                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                  </a>
                </div>

                <div class="page-item active">
                  <mat-chip-list>
                    <mat-chip color="accent" selected>{{pagina}}</mat-chip>
                  </mat-chip-list>
                </div>

                <div>
                  <a [disabled]="pagina >= numPaginas" mat-button class="page-link" aria-label="Next" (click)="siguiente()">
                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--  end card  -->
  </div>
  </div>
</div>
