<h3> Editar </h3>
<div mat-dialog-content>
  <label>Observación</label>
  <mat-form-field>
    <input matInput [(ngModel)]="data.observacion">
  </mat-form-field>
  <mat-checkbox class="example-margin" [(ngModel)]="data.asistio">Asist</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button>
</div>
